/* PARTE 3: Reset y Variables */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #028090;
    --dark-color: #015A66;
    --text-light: #FFFFFF;
    --font-main: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-main);
    background-color: #F8FAFC;
}

/* PARTE 7: Modelo de Caja y Flexbox  */
header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 1rem 2rem;
    
    /* REQUISITO: Flexbox para alinear logo y navegación  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: flex; /* Flexbox en la lista de enlaces */
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Estilos básicos para las secciones (para visualizarlas) */
section {
    min-height: 200px;
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}